# === EXPO ===
.expo/
.expo-shared/
dist/
web-build/

# === NODE ===
node_modules/
npm-debug.log*
.env
.env.local

# === DOCKER (production build handled by Railway buildpack) ===
Dockerfile
Dockerfile.local

# === OS ===
.DS_Store
Thumbs.db

# === ANDROID / IOS (CNG/Prebuild) ===
android/
ios/

